.formulario {
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-right: 4px solid #000;
    padding-right: 50px;
}

.formulario_input,
.formulario_text-area {
    color: #000;
    border: 2px solid rgb(88, 84, 19);
    border-radius: 4px;
    padding: 10px;
    height: auto;
   
}

.btn {
    color: #FFF;
    border: 0;
    background-color: #000;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
    height: auto;
}

